@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  @apply bg-white text-zinc-600 text-base font-normal;
}

#root {
  @apply w-full text-center;
}

body {
  @apply m-0 flex place-items-center min-h-screen;
}

button {
  @apply w-full md:w-fit bg-violet-500 text-white font-bold rounded-full py-2 px-4;
}

button:focus,
button:focus-visible {
  @apply outline-none;
}

button:disabled {
  @apply bg-zinc-300;
}
